<a href="https://colab.research.google.com/github/pktintali/data/blob/master/Play_Tennis(Bayes_Theorem).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 playTennis(Bayes Theorem)

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv('https://filebin.net/54lqnogpa8yyxq34/play_tennis.csv?t=tcdt5cav')

In [5]:
data.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [ ]:
data.drop(columns=['day'],inplace = True)

In [6]:
data

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

"""""""""""""""""""""""""""""""""""""""

In [ ]:
#Problem
#   Outlook = Sunny,Temp=Hot,
#  Humidity = High,Wind = Weak

In [ ]:
#Play or Not

In [ ]:
#Solution Using naive bayes

In [ ]:
#P(A/B) = P(B/A)*P(A)/P(B)

In [ ]:
#P(Yes/sunny,hot,high,weak) =

In [ ]:
# P(sunny/yes)*P(hot/yes)*
# P(high/yes)*P(weak/yes)*P(yes)

In [ ]:
 #P(No/sunny,hot,high,weak) =

In [ ]:
 # P(sunny/no)*P(hot/no)*
# P(high/no)*P(weak/no)*p(No)

In [ ]:
# if P(Yes)>P(No) => Play
#            Else => Don't Play

In [ ]:
#First We Have To Find P(Yes)&P(No)

""""""""""""""""""""""""""""""""""""""""""""""""

In [7]:
data['play'].value_counts()

Yes    9
No     5
Name: play, dtype: int64

In [10]:
py = 9/14
pn = 5/14

In [11]:
print(py)
print(pn)

0.6428571428571429
0.35714285714285715

In [ ]:
#Outlook

In [12]:
pd.crosstab(data['outlook'],data['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [13]:
PovrcstN = 0/5
PrainN = 2/5
PsunnyN = 3/5
 
PovrcstY = 4/9
PrainY = 3/9
PsunnyY = 2/9

In [ ]:
#Temp

In [14]:
 pd.crosstab(data['temp'],data['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [15]:
PcoolN = 1/5
PhotN = 2/5
PmildN =2/5
 
PcoolY = 3/9
PhotY = 2/9
PmildY = 4/9

In [ ]:
#Humidity

In [16]:
 pd.crosstab(data['humidity'],data['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [17]:
PhighN = 4/5
PnormalN = 1/5
 
PhighY = 3/9
PnormalY = 6/9

In [ ]:
#Wind

In [18]:
 pd.crosstab(data['wind'],data['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [19]:
PstrongN = 3/5
PweakN = 2/5
 
PstrongY = 3/9
PweakY = 6/9

In [ ]:
#PYes = ?
 
#  Outlook = Sunny,Temp=Hot,
#  Humidity = High,Wind = Weak

In [20]:
Pyes = py*PsunnyY*PhotY*PhighY*PweakY
#print(Pyes)

In [ ]:
#PNo = ?

In [21]:
 Pno = pn*PsunnyN*PhotN*PhighN*PweakN
#print(Pno)

In [22]:
if Pyes>Pno:
    print('Play')
else:
    print('No Play')

No Play

Next Problem

In [ ]:
#PYes = ? and PNo = ?
 
#   Outlook = Rain,Temp=Cool,
#  Humidity = High,Wind = Strong

In [23]:
Pyes2 = py*PrainY*PcoolY*PhighY*PstrongY
#print(Pyes2)

In [24]:
Pno2 = pn*PrainN*PcoolN*PhighN*PstrongN
#print(Pno2)

In [25]:
if Pyes2>Pno2:
    print('Play')
else:
    print('No Play')

No Play

Next Problem

In [ ]:
 #PYes = ? and PNo = ?
 
#   Outlook = Overcast,Temp=Hot,
#  Humidity = Normal,Wind = Weak

In [26]:
Pyes3 = py*PovrcstY*PhotY*PnormalY*PweakY

In [27]:
Pno3 = pn*PovrcstN*PhotN*PnormalN*PweakN

In [28]:
if Pyes3>Pno3:
    print('Play')
else:
    print('No Play')

Play